.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

.header a {
    display: flex;
    align-items: center;
}

.header .logo {
    max-height: 80px;
    max-width: 150px;
    height: auto;
    width: auto;
    margin-left: 70px;
}

.engineImg {
    display: block;
    margin: 20px auto;
    max-height: 300px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.gearboxImg {
    display: block;
    margin: 20px auto;
    max-height: 300px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.header .title {
    max-height: 80px;
    max-width: 150px;
    height: auto;
    width: auto;
    margin-left: 20px;
}

.header .buttons {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.header button {
    color: white;
    background-color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.header button:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: white;
}

.header button:hover {
    background-color: #333;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #b10000;
    margin: 1em 0;
    padding: 0;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 20px;
}

.history {
    color: white;
    font-size: 18px;
}

body {
    background-color: #474747;
    padding-top: 90px;
}